.backing {
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-image: url('./images/cropBackground.png');
  background-size: contain;
  max-height: 100%;
  position: absolute;
  opacity: 0.2;
  z-index: -1;
}

.topBanner { 
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;


  div {
    font-size: 1.4rem;
  }
}

.yearly {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: auto;
  margin-top: 30px;
  background-color: rgb(245, 242, 242, .7);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.months {
  display: flex; 
  justify-content: space-evenly;
  flex-direction: column;
}

.loadingWeather {
  font-size: 1.8rem;
}

#container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 400px;
  background-color: #fff;
}

.chartContainer {
  height: 500px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
  max-width: 90%;
  margin: auto;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  div {
    text-align: center;
    padding: 2px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  p {
    padding-left: 40px;
  }
  span {
    padding-left: 4vw;
  }
}

.red {
  background-color: #DC143C;
  margin-left: 5px;
}
.blue {
  background-color: #00FFFF;
  margin-left: 5px;
}
.darkBlue {
  background-color: #00008B;
  margin-left: 5px;
}

.boxed {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.growing {
  max-width: 100%;
  height: 600px;
  background: no-repeat;
  background-image: url('./images/Growing1.png');
  background-size: contain;
  margin: 20px;
}

.holdAllCrops {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  max-width: 95%;
  margin: auto;
}

.selectFromcrops {
  display: flex;
}

.cropCards {
  max-width: 20%;
  border: 1px dotted black;
  background-color: rgba(163, 250, 212, 0.2);

  .cropName {
    text-align: center;
    text-decoration: underline;

  }

  img {
    max-width: 100%;
    max-height: 15vh;
    padding-left: 20px;
  }
}
